* {
    margin: 0;
    padding: 0;
    font:'Lato', sans-serif;
    scroll-behavior: smooth;
}
#myDiv{
    width: 100%;
    height: 600px;
background-position: center center;
background-size: cover;


}
.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    opacity: 0.9;
    width: 450px;
    height: 600px;
    position: absolute;
    left: 900px;

}
.navbar_container {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
#navbar_logo {
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
}
.navbar_item{
    height: 60px;
}
.navbar_links {
    text-decoration: none;
    color: #fff;
}
.services-container{
    padding: 40px;
    margin: 40px;

}

.services-wrapper{
    display: flex;

}
.item-list{
    padding: 80px;
width: 100%;
border-radius: 4px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.service-item{

    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 500px;
    border: 1px;
    height: 225px;
    border-style: groove;
}
.service-item:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    background-color: lightblue;

}
.service-item a{
    text-decoration: none;
    font-size: 36px;
    color: lightblue;

}

.title-heading {
    text-align: center;
    font-size: 50px;
}
.new-list{
    display: flex;


}
.listing{
padding-top: 100px;
display: flex;
flex-direction: column;
align-items: center;
height: 600px;

}
.media-list{
padding: 10px;
margin: 10px;
list-style: none;

}

.media-list a{
color: black;
font-size: 32px;
text-decoration: none;

}
.more{
text-align: center;
font-size: 32px;

}
.more a{

    color: black;
}


.search-container{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    padding-top: 100px;


}

input{
    padding: 18px 26px;
    margin: 16px 0;
    font-size: 26px;
}
input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=submit]{
background-color: lightblue;
color: #fff;
cursor: pointer;
  }
