* {
    margin: 0;
    padding: 0;
    font:'Lato', sans-serif;
    scroll-behavior: smooth;
}
#myDiv{
width: 100%;
height: 600px;
background-position: center center;
background-size: cover;


}
.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    opacity: 0.9;
    width: 450px;
    height: 600px;
    position: absolute;
    left: 30vw;

}
.navbar_container {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
#navbar_logo {
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
}
.navbar_item{
    height: 60px;
}
.navbar_links {
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 960px) {
    .navbar{
position: initial;
display: flex;
flex-direction: row;
height: 15vh;
float: left;
width: 100%;
    }
#navbar_logo {
font-size: 1.5rem;
position: absolute;
left: 1rem;
top: 2rem;


}
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        z-index: -1;
    }
.navbar_menu.active {
    background: lightblue;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;;
    font-size: 1.6rem;
}
/* Hamburger menu */
.navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}
.navbar_item {
    width: 100%;
}
.navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}
#mobile-menu {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar_toggle .bar {
display: block;
cursor: pointer;
}
}

/* Services Section */

.title-heading {
    text-align: center;
    font-size: 50px;
}

.services-wrapper{
    display: flex;
flex-direction: row;
width: 100%;
height: 600px;
justify-content: center;
align-items: center;

}
.item-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.service-item{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    justify-content: space-between;
    height: 150px;
    width: 350px;


}
.service-links {
color: lightblue;
display: flex;
text-decoration: none;
align-items: center;
font-size: 32px;
border-style: double;
width: 100%;
}

.service-item:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    background-color: lightblue;

}
.service-item a{
padding-left: 1rem;

}

@media screen and (max-width: 768px) {
    .item-list{
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;

    }
    .service-item{

display: flex;
width: 100%;


    }
}

/* Media Section */

.new-list{
    display: flex;

}
.listing{
padding-top: 100px;
display: flex;
flex-direction: column;
align-items: center;
height: 600px;

}
.media-list{
padding: 10px;
margin: 10px;
list-style: none;

}

.media-list a{
color: black;
font-size: 32px;
text-decoration: none;

}
.more{
text-align: center;
font-size: 32px;

}
.more a{

    color: black;
}


.search-container{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    padding-top: 100px;


}

input{
    padding: 18px 26px;
    margin: 16px 0;
    font-size: 26px;
}
input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=submit]{
background-color: lightblue;
color: #fff;
cursor: pointer;
  }

  /* Footer Section */
.contacts{
    background-color: darkgrey;
    font-size: 28px;
    padding: 30px;
text-align: center;
}

.contacts a{
    text-decoration: none;
    color: black;
}





.
